<div class="container-product">

<h1><%= @product.title %></h1>
<p><%= @product.description %></p>
<p>Price: $<%= "%.2f" % @product.price %></p>
<p>Category: <%= @product.category.name %></p>
<p>Create by: <%= @product.user_full_name.titleize %></p>
<% if is_authorized_for_current_user @product.user  %>
  <%= link_to "Edit", edit_product_path(@product) %>
  <%= link_to "Delete", product_path(@product), method: :delete,
                                                data: {confirm: "Are you sure?"} %>
<% end %>
<hr>

<%= @review.errors.full_messages.join(", ") %>

<hr>


<h2>Reviews</h2>
<%# partil review is defined in review/_review.html.erb %>
<%= render @product.reviews %>

<!-- this for the star rating would work as well if we don't include jquery-turbolink gem fix -->
<!-- <script>
  $(".rating").rating()
</script> -->


<%# product_reviews_path is a post to review#create under a product id %>
<%= form_for @review, url: product_reviews_path(@product), html: {class: "form"} do |f| %>
  <%#= f.label :star_count, "Star" %>
  <%#= f.text_field :star_count %>
  <div class="form-group">
    <label for="review_star_count" class="control-label">Rate This</label>
    <input id="review_star_count" name="review[star_count]" class="rating rating-loading" data-min="0" data-max="5"
    data-step="1" data-show-clear="false">
  </div>

  <div class="form-group product-review">
    <%= f.label :body, "Review", class: "control-label" %>
    <%= f.text_area :body, class: "form-control product-review__textarea" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create Review", class: "btn btn-primary" %>
  </div>
<% end %>

</div>
