<div class="container-product">

<h1><%= @product.title %></h1>
<p><%= @product.description %></p>
<p>Price: $<%= "%.2f" % @product.price %></p>
<p>Category: <%= @product.category.name %></p>
<p>Create by: <%= @product.user_full_name.titleize %></p>
<% if is_authorized_for_current_user? @product.user  %>
  <%= link_to "Edit", edit_product_path(@product) %>
  |
  <%= link_to "Delete", product_path(@product), method: :delete,
                                                data: {confirm: "Are you sure?"},
                                                class: "like-fav-icon" %>
  |
<% end %>

<% if user_favorite %>
  <%= link_to icon("heart"), product_favorite_path(@product, user_favorite),
  method: :delete, class: "like-fav-icon" %>
<% else %>
  <%= link_to icon("heart-o"), product_favorites_path(@product), method: :post,
  class: "like-fav-icon" %>
<% end %>
<%#= (@product.favorites.count) %>
<hr>


<div id="review-form">
  <%= render "/reviews/form", review: @review  %>
</div>


<%# <h2>Reviews</h2> %>
<%# partil review is defined in review/_review.html.erb %>
<%# <%= render @product.reviews %>
<h2>Reviews</h2>
<div id="reviews">
  <% @product.reviews.each do |rev| %>
    <%= render "/reviews/review", review: rev %>
  <% end %>
</div>


<!-- this for the star rating would work as well if we don't include jquery-turbolink gem fix -->
<script>
var $input = $('input.rating');
if ($input.length) {
    $input.removeClass('rating-loading').addClass('rating-loading').rating();
}
</script>

</div>
