<%# @product.reviews.each do |review| %>
  <!-- <%#= review.star_count %> star - -->
<div id="<%= dom_id(review) %>" style="<%= style if defined?(style) %>">

  <p>Create by: <%= review.user_full_name.titleize %></p>

  <% i = 0%>
  <% while i < review.star_count do %>
    <i class="fa fa-star icon-yellow-star" aria-hidden="true"></i>
  	<%# <span style="font-size:100%;color:yellow;border-color:black">&starf;</span> %>
  	<% i += 1%>
  <% end %>

  <% while i < 5 do %>
    <i class="fa fa-star icon-gray-star" aria-hidden="true"></i>
    <%# <span style="font-size:100%;color:black;">&star;</span> %>
  	<% i += 1 %>
  <% end %>
  <%= review.body %>
  <% if is_authorized_for_current_user? @product.user  %>
    <%= link_to "Delete", product_review_path(@product, review),
                  data: {confirm: "Are you sure?"},
                  method: :delete,
                  remote: true %>
  <% end %>
  |
  <div id="<%= dom_id(review)%>_like">
    <%= render "/likes/like", review: review %>
  </div>

<%# end icon("thumbs") icon("thumbs-o") %>

</div>
