<%# @product.reviews.each do |review| %>
  <!-- <%#= review.star_count %> star - -->
<div id="<%= dom_id(review) %>" style="<%= style if defined?(style) %>">

  <p>Create by: <%= review.user_full_name.titleize %></p>

  <% i = 0%>
  <% while i < review.star_count do %>
    <i class="fa fa-star icon-yellow-star" aria-hidden="true"></i>
  	<%# <span style="font-size:100%;color:yellow;border-color:black">&starf;</span> %>
  	<% i += 1%>
  <% end %>

  <% while i < 5 do %>
    <i class="fa fa-star icon-gray-star" aria-hidden="true"></i>
    <%# <span style="font-size:100%;color:black;">&star;</span> %>
  	<% i += 1 %>
  <% end %>

  <%= review.body %>
  <% if is_authorized_for_current_user? @product.user  %>
    <%= link_to "Delete", product_review_path(@product, review),
                  data: {confirm: "Are you sure?"},
                  method: :delete,
                  remote: true %>
  <% end %>
  |
  <%# if user_like review%>
  <% if review.like_for(current_user) %>
    <%#= link_to "Un-like", review_like_path(review, user_like),
  method: :delete, class: "like-fav-icon" %>
  <%= link_to "Un-like", review_like_path(review, review.like_for(current_user)),
method: :delete, class: "like-fav-icon" %>
  <% else %>
    <%= link_to "Like", review_likes_path(review), method: :post,
    class: "like-fav-icon" %>
  <% end %>
  <%= "#{review.likes.count}" %>
  <hr>
<%# end icon("thumbs") icon("thumbs-o") %>

</div>
